<?xml version="1.0"?>

<launch>
  
  <arg name="nodelet_manager_name" default="seek_thermal_nodelet_manager" />
  
  
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen" respawn="true"/>

  <node pkg="nodelet" type="nodelet" name="seek_thermal_driver"
        args="load seek_thermal_ros/SeekThermalNodelet $(arg nodelet_manager_name)" output="screen" respawn="true">
  </node>

</launch>
